<html>
  <head>
        <meta charset='utf-8'>
        <meta name=author content="Daniela Kreimerman Arroyo, Beryl Larson, Zoe Wiles">
        <title>Game Master's Pocketbook</title>
       
        <link rel="stylesheet" type="text/css" href="home.css">
    </head>
  {% block content %}
  
        {% if username %}
      
            <h3>Welcome {{username}}!</h3>
            <p>Not {{username}}? <a href="{{ url_for('logout') }}">Log out</a></p>
            <p>Select your campaign:</p>
            <ul>
                <form method="POST">
                {% for campaign in campaigns %}
                <li><button type="submit" name="campid" formaction = "{{ url_for('setCamp') }}" value = "{{ campaign.cid }}">{{ campaign.name }}</button></li>
                {% endfor %}
                </form>
            </ul>
            <p> <a href="{{ url_for('newCamp') }}">Create New Campaign!</a></p>
        {% else %}
            <div class="header">
                <div class="centered"> <h1>GameMaster's Pocketbook</h1> 
                    <h5>Changing the way you play</h5>
                </div>
            </div>
            
           
             <h3>Log in!</h3>
            <form action="{{ url_for('home') }}" method="POST">
              <p><label for="Username">Username: <input type="text" name="user" pattern="^\S+$"></label></p>
              <p><label for="Password">Password: <input type="password" name="password"></label></p>
              <p><input type="submit" value="login"></p>
             </form>
             <p>Don't have an account? <a href="{{ url_for('register') }}">Register Here.</a></p>
            
        {% endif %}
        
    {% endblock %}
</html>