{% extends "base.html" %}
  
  {% block content %}
  
        
        <form action="{{ url_for('register') }}" method="POST">
            <p><label for="Username">Username: <input type="text" name="user" pattern="^\S+$"></label></p>
            <p><label for="Password">Password: <input type="password" name="password1" required></label></p>
            <p><label for="Re-enter password">Re-enter password: <input type="password" name="password2" required></label></p>
            <p><input type="submit" value="register"></p>
        </form>
        <p>Already have an account? <a href="{{ url_for('home') }}">Login Here.</a></p>
{% endblock %}